{% extends "core/base.html" %}
{% block title %} Главная {% endblock %}
  {% block content %}
  <div class="home__filmlist">

    {% for movie in movies %}
    <div class="card" style="width: 18rem;">
      <img src="{{ movie.poster.url }}" class="card-img-top" alt="...">
      <div class="card-body d-flex flex-column justify-content-between">
      <div>
          <h5 class="card-title">{{movie.title}}</h5>
          <div class="film__info">
            <p class="film__info__text">Рейтинг: {{movie.rating}}</p>
            <p class="film__info__text">Длительность: {{movie.duration}} мин.</p>
          </div>
          <ul class="list-unstyled d-flex align-items-center gap-2 flex-wrap">
            {% for genre in movie.genres.all %}
            <li><a href="" class="text-decoration-none text-secondary">{{ genre.name }}{% if not forloop.last %},{% endif %}</a></li>
            {% endfor %}
          </ul>
      </div>
      <div>
        <a href="{% url 'movie_detail' movie_id=movie.id %}" class="btn btn-outline-primary d-block mx-auto">Смотреть</a>
        <p class="mt-2 text-secondary">{{ movie.release_date }}</p>
      </div>
      </div>
    </div>

    {% endfor %}
  </div>
  {% endblock %}